.NoteItem {
	display: grid;
	grid-template-columns: 0.9fr 0.1fr;
	grid-gap: 10px;
	margin: 12px;
	padding: 12px;
	background-color: #fbf1be;
	border-radius: 8px;
	max-width: 100%;
	ul {
		min-width: 100%;
		li {
			div {
				display: flex;
				flex-wrap: wrap;
				gap: 6px;
				max-width: 100%;
				
				p {
					display: block;
					width: 90%;
    			overflow-wrap: break-word;
				}
				input {
					border: none;
					border-radius: 8px;
					padding: 6px;
					min-width: 90%;
				}
				.NoteItem__config {
					display: flex;
					flex-direction: column;
					button {
						background-color: #fff;
						border: none;
						border-radius: 4px;
						max-height: 22px;
						width: min-content;
					}
				}
			}
		}
	}
}