@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	background-color: #fbf1be;
	padding: 16px;
	border-radius: 12px;
}